html{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

/* Redimensión de fuente utilizando rem */
p{
    font-size: 1rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 1.15rem;
}

h6{
    font-size: 1.05rem;
}
/**************************/

/* clases predefinidas */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Diseño de columnas */

.column-1{
    width: 100%;
    float: left;
}

.column-2{
    width: 50%;
    float: left;
}

.column-3{
    width: 33.33%;
    float: left;
}

.column-4{
    width: 25%;
    float: left;
}

.column-5{
    width: 19.5%;
    float: left;
}

.column-6{
    width: 16.66%;
    float: left;
}

.column-75{
    width: 75%;
    float: left;
}

.column-25{
    width: 25%;
    float: left;
}
/* Otras clases */

#logo{
    width: 5%;
}

.centrado{
    text-align: center;
}

.color3{
    background-color: #A38039;
}

#color_fondo{
    background-color: #FFD98C;
}

.color4{
    background-color: #F0C36C;
}

.color5{
    border: #2959A3 2px solid;
}

.color_logo{
    background-color: #6CA0F0;
}
.padding_menu{
    padding-top: 2%;
}

.padding_formato1{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 0.25%;
}

.formato_1{
    background-color: #F0C36C;
    border-radius: 5%;
    border: #A38039 2px solid;
}

.img_formato1{
    object-fit: contain;
    width: 75%;
    height: 25%;
    border-radius: 5%;
    border: #A38039 2px solid;
}


.texto1_correcion_ancho{
    padding-left: 20%;
    padding-right: 20%;
}
.texto2_correcion_ancho{
    padding-left: 20%;
}
.fotos_correcion_ancho{
    padding-left: 1.25%;
}

.padding_final{
    padding-bottom: 2%;
}

.img_carta{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    object-fit: contain;
}


.slider_correcion_ancho{
    padding-left: 10%;
    padding-right: 10%;
}

.carrousel{
    height: 400px;
    width: 100%;
    object-fit: contain;
}

#btn_carta{
    width: 50%;
}

/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
    .carrousel{
        height: 500px;
        width: 100%;
        object-fit: contain;
       }
    .column-5{
        width: 33%;
    }
    .padding_final{
        padding-bottom: 2%;
        padding-right: 1%;
    }
}

@media only screen and (max-width: 950px) {
    .redimension_horario{
        width: 75%;
    }
    #btn_carta{
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2{
        width: 100%;
    }
    .texto2_correcion_ancho{
        padding-left: 0%;
    }
    #btn_carta{
        width: 140%;
    }
    .img_del_carrousel{
        margin-top: -20%;
        margin-bottom: -20%;
    }
    .boton_carta_texto{
        margin-left: 1%;
    }
}

@media only screen and (max-width: 600px) {
    .column-5{
        width: 100%;
    }
    .padding_formato1{
        padding-top: 2%;
        padding-bottom: 2%;
        margin-left: 0.25%;
        margin-bottom: 2%;
    }
    .padding_final{
        padding-bottom: 2%;
        padding-right: 2%;
    }
    .img_del_carrousel{
        margin-top: -30%;
        margin-bottom: -30%;
    }
}

@media only screen and (max-width: 400px) {
    .img_del_carrousel{
        margin-top: -50%;
        margin-bottom: -50%;
    }
}

